* {
  margin: 1em;
}

body {
  display: grid;
  background-color: #1e1e1e;
}

#header {
  grid-row: 1;
  grid-column: 1 / 6;
  color: #c1c1c1;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  margin: 2em;
  padding: 1em;
}

#navigation {
  grid-row: 2;
  grid-column: 1 / 2;
  color: #c1c1c1;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
}

#main {
  grid-row: 2;
  grid-column: 2 / 5;
  color: #c1c1c1;
  background-color: #1e1e1e;
  margin: 2em;
  padding: 1em;
}

#empty-component {
  grid-row: 2;
  grid-column: 5 / 6;
}

#titlebar {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: #c1c1c1;
  padding: 1em;
}

a:hover {
  color: #f0f0f0;
}

p {
  color: #c1c1c1;
}
